body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px 10px;
        }
        .content{
            width: 60%;
            margin: 0 auto;
        }
        pre {
            margin-top: -10px;
            padding: 3px 0;
            background-color: #263238;
            color: #EEFFFF;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        section {
            border-top: 3px solid;
            margin-top: 20px;
        }
        .title {
            width: fit-content;
            font-weight: bold;
        }
        .comment{
            color:#91C891;
        }



        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 15px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            background-color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            padding-right: 15px;
        }

        @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }

        .dropdown-menu{
            background-color: #111;
        }

        .dropdown-menu li a{
            color: #818181;
            font-size: 17px;
        }